{{!
  Copyright IBM Corp. 2022, 2026
  SPDX-License-Identifier: MPL-2.0
}}

{{!-- <div class="docs">
  <DocfyOutput @scope="docs" as |node|>
    <nav>
      <ul>
        {{#each node.pages as |page|}}
          <li>
            <DocfyLink @to={{page.url}} @activeClass="active">
              {{page.title}}
            </DocfyLink>
          </li>
        {{/each}}
      </ul>

      {{#each node.children as |child|}}
        <h3>{{child.label}}</h3>

        <ul>
          {{#each child.pages as |page|}}
            <li>
              <DocfyLink @to={{page.url}} @activeClass="active">
                {{page.title}}
              </DocfyLink>
            </li>
          {{/each}}
        </ul>
      {{/each}}

      <h3>API Reference</h3>
      <ul>
        <li><a href="/tsdocs/">TypeDoc</a></li>
      </ul>
    </nav>
  </DocfyOutput>

  <main>
    <article>
      <p class="brand">
        Lineal
        <p>cool branding here</p>
      </p>
      <div>
        {{outlet}}
      </div>

      <div class="footer-actions">
        <DocfyPreviousAndNextPage as |previous next|>
          <div class="footer-action">
            {{#if previous}}
              <DocfyLink @to={{previous.url}}>
                <p>Previous</p>
                {{previous.title}}
              </DocfyLink>
            {{/if}}
          </div>
          <div class="footer-action">
            {{#if next}}
              <DocfyLink @to={{next.url}}>
                <p>Next</p>
                {{next.title}}
              </DocfyLink>
            {{/if}}
          </div>
        </DocfyPreviousAndNextPage>
      </div>
    </article>
  </main>
</div> --}}