{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

<h2>Area</h2>
<svg width="800" height="200">
  {{#let
    (scale-linear range="15..785" domain="0..10")
    (scale-linear range="190..10" domain="0..10")
    as |xScale yScale|
  }}
    <Lineal::Area
      @data={{array (hash x=0 y=5 y0=3) (hash x=10 y=10 y0=0)}}
      @xScale={{xScale}}
      @yScale={{yScale}}
      @x="x"
      @y="y"
      @y0="y0"
      fill="#BADA55"
      stroke="black"
    />
  {{/let}}
</svg>

<h2>VBar &amp; HBar</h2>

<svg height="300" width="800" class="no-overflow m-100">
  {{#let
    (scale-band domain=this.categories range="0..800" padding=0.1)
    (scale-linear range="300..0" domain="0..")
    as |xScale yScale|
  }}
    {{#if (and xScale.isValid yScale.isValid)}}
      <Lineal::Axis
        @scale={{yScale}}
        @orientation="left"
        @includeDomain={{false}}
      />
      <Lineal::Axis
        @scale={{xScale}}
        @orientation="bottom"
        transform="translate(0,{{yScale.range.min}})"
      />
      <Lineal::Gridlines
        @scale={{yScale}}
        @direction="horizontal"
        @length="800"
        stroke-dasharray="5 5"
      />
    {{/if}}
    <Lineal::Area
      @data={{this.ageDemo}}
      @x="bracket"
      @y="value"
      @y0={{0}}
      @width={{xScale.bandwidth}}
      @xScale={{xScale}}
      @yScale={{yScale}}
      class="mass-color"
    />
    <Lineal::VBars
      @data={{this.ageDemo}}
      @x="bracket"
      @y="value"
      @y0={{0}}
      @width={{xScale.bandwidth}}
      @xScale={{xScale}}
      @yScale={{yScale}}
      class="accent-color"
    />
  {{/let}}
</svg>