<h2>Updating data</h2>
{{#if this.wave.length}}
  <svg width='800' height='200' class='no-overflow m-100'>
    {{#let (scale-linear range='200..0') as |yScale|}}
      {{#if (and this.xScale.isValid yScale.isValid)}}
        <Lineal::Axis
          @scale={{yScale}}
          @orientation='left'
          @includeDomain={{false}}
        />
        <Lineal::Axis
          @scale={{this.xScale}}
          @orientation='bottom'
          transform='translate(0,200)'
        />
        <Lineal::Gridlines
          @scale={{yScale}}
          @direction='horizontal'
          @length='800'
          stroke-dasharray='5 5'
        />
      {{/if}}
      <Lineal::Line
        @data={{this.wave}}
        @xScale={{this.xScale}}
        @yScale={{yScale}}
        @x='x'
        @y='y'
        @curve='natural'
        stroke-width='1'
        fill='transparent'
        stroke='black'
      />
    {{/let}}
  </svg>
{{/if}}
