<h2>Stacked Area</h2>
<svg height='300' width='800' class='no-overflow m-100'>
  {{#let
    (scale-linear range='0..800' domain='..')
    (scale-linear range='300..0' domain='0..')
    as |xScale yScale|
  }}
    {{#if (and xScale.isValid yScale.isValid)}}
      {{log yScale}}
      <Lineal::Axis
        @scale={{yScale}}
        @orientation='left'
        @includeDomain={{false}}
      />
      <Lineal::Axis
        @scale={{xScale}}
        @orientation='bottom'
        transform='translate(0,300)'
      />
      <Lineal::Gridlines
        @scale={{yScale}}
        @direction='horizontal'
        @length='800'
        stroke-dasharray='5 5'
      />
    {{/if}}
    <Lineal::Area
      @data={{this.paddedFrequencyByDay}}
      @curve='natural'
      @x='hour'
      @y='value'
      @color='day'
      @xScale={{xScale}}
      @yScale={{yScale}}
      @colorScale='ordinal'
    />
    <rect
      x='0'
      y='0'
      width='800'
      height='300'
      tabindex='0'
      fill='transparent'
      class='interactor'
      {{interactor-cartesian-horizontal
        data=this.paddedFrequencyByDay
        xScale=xScale
        x='hour'
        y='value'
        onSeek=this.updateActiveDataPop
      }}
    ></rect>
    {{#if (and xScale.isValid yScale.isValid)}}
      {{#if this.activePop}}
        <g class='interaction-overlay'>
          <line
            stroke='red'
            stroke-width='2'
            x1={{xScale.compute this.activePop.datum.datum.hour}}
            x2={{xScale.compute this.activePop.datum.datum.hour}}
            y1='0'
            y2='300'
          ></line>
          {{#each this.activePop.data as |d|}}
            <circle
              cx={{xScale.compute d.datum.hour}}
              cy={{yScale.compute d.datum.value}}
              r='5'
              fill='black'
            ></circle>
          {{/each}}
        </g>
      {{/if}}
    {{/if}}
  {{/let}}
</svg>
